.main {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  height: 100vh;
  transition: all .5s;
}

.header {
  color: var(--text-primary);
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 60px;
  padding: 20px 80px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.headerNavLinks {
  color: var(--text-primary);
  align-items: center;
  margin-right: 10px;
  font-family: 'Ubuntu';
  text-transform: uppercase;
  text-shadow: 1.2px 1.2px var(--text-secondary);
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms, color 300ms;
}

.headerNavLinks:hover{
    color: var(--text-secondary);
    text-decoration-color: var(--text-primary);
}
